{% extends "base.html" %}  
{% import "macros.html" as macros %}
{%block title %}Apps{% endblock %}
{% block content -%}
{# Loop over the given apps
    - if tags or devices are chosen show individual apps for these
    - otherwise group by tags
 #}
{% if app_summaries is defined  %}
  {% for app in app_summaries %}
    {{ macros.app_summary(app) }}
  {% endfor %}
  {%  if app_summaries|length == 1 %}
    {% for review in reviews %}
      {{ macros.app_review(review) }}
    {% endfor %}
  {% endif %}


{% elif tag_summaries is defined %}
  {% for tag in tag_summaries %}
    <section class="tag_summary" >
    <h2>{{ tag.name }} ({{ tag.n_apps }} apps{% if tag.n_apps > 3 %} &ndash; showing Top 3 {% endif %})</h2>
      {% for app in tag.top_apps %}
        {{ macros.app_summary(app) }}
      {% endfor %}
    </section>
  {% endfor %}
{% endif %}
{%- endblock %}
