{% extends "base.html" %}  
{%block title %}Login{% endblock %}
{% block content %}
{# Need user ID and password right now.
   Later forego password for Facebook token.
 #}
<h2>Login</h2>
<p>Caution: do not use a password of value -- this is an insecure
   example login not using ssh that will later be replaced with
   a more secure login by Facebook.
</p>
<form>
  <input type="text" name="nickname" value="Your nickname"></input>
  <input type="password" name="password" ></input>
</form>
{% if error %}
  <p class="error"> {{ error }} </p>
{% endif %}
{% endblock %}
