{% extends "base.html" %}
{%block title %}
  {% if session is defined and session.user is defined %}
    {{ session.user.nickname }}'s page
  {% else %}
    Blank profile
  {% endif %}
{% endblock %}
{% block content %}
{# Option to edit user details #}
<h2>
  {% if session is defined and session.user is defined %}
    {{ session.user.nickname }}'s profile
  {% else %} Blank profile
  {% endif %}
</h2>
<form name="input_form" id="input_form" action={{ url_for('profile') }} enctype=multipart/form-data method=POST>
  <div class="width_100px"><div id="image_drop_zone"> 
    <img id="avatar" src="{{ url_for('static', filename='images/avatars/' ~ avatar) }}" class="avatar"
         style="position:absolute;top:0;left:0;"></img>
  </div>
  <div class="width_100px">To change your avatar, drag and drop an image.</div>
  </div>

  <div  class='half_width'>
      <input name="first_name"
          pattern=/^\w[ \w\-]{0,63}/
          placeholder="first name"
          size=25
          type="text"
        {% if first_name is defined -%}
          value="{{ first_name }}"
        {%- endif %}
         >First name</input>
      <br/>
      <input name="last_name"
          pattern=/^\w[ \w\-]{0,63}/
          placeholder="last name"
          size=25
          type="text"
        {% if last_name is defined -%}
          value="{{ last_name }}"
        {%- endif %}
      >Last name</input>
      <br/>
  {% if session is not defined or session.user is not defined %}
      <input name="nickname"
         type="text"
         maxlength=24
         pattern=/^[a-z][^\Sa-z0-9_\.\-]{3,23}/
         placeholder="(3-24 lowercase chars)"
         required="required"
         size=25>Username</input>
  {% endif %}
      <br/>
  {% if session is not defined or session.user is not defined %}
      <button type="submit" name="create" id="update_profile">Create profile</button>
  {% else %}
      <button type="submit" name="update" id="update_profile">Update profile</button>
  {% endif %}
   
    <br/> 
    <label name="start_date">
    {% if start_date is defined -%}
     Member since {{ start_date }}
    {%- endif %}
    </label>
    <br/>
    {% if error is defined -%}
    <p class="error">
      {{ error }}
    </p>
    {%- endif %}
  </div>
</form>

{# Add an option to identify doctors #}
<section class="full_width" >
<h2>My health providers</h2>
</section>
{# Loop over the recommended (by) apps, by reverse date #}
<section class="full_width" >
<h2>Recommended apps</h2>
{% if recommended_by_list is defined  %}
  <ul>
  {% for rec in recommended_by_list %}
    <li> {{ rec.name }}: {{ rec.app }}
  {% endfor %}
  </ul>
{% else %}
  No apps have been recommended to you yet.
{% endif %}
</section style="border:1px solid orange;">
{# Loop over the recommended (to) apps, by reverse date #}
<section class="full_width" >
<h2>My recommendations</h2>
{% if recommended_to_list is defined  %}
  <ul>
  {% for rec in recommended_to_list %}
    <li> {{ rec.name }}: {{ rec.app }}
  {% endfor %}
  </ul>
{% else %}
  You have not recommended any apps to others.
{% endif %}
</section>
{# Loop over the reviewed apps, by reverse date #}
<section class="full_width">
<h2>My reviews</h2>
{% if review_list is defined  %}
  <ul>
  {% for review in review_list %}
    <li> {{ review.app }} ({{ review.review_date }})
  {% endfor %}
  </ul>
{% else %}
  You have not yet written a review.
{% endif %}
</section>
{# ---------------------- javascript ---------------------------- #}
<script type="text/javascript"
        src="{{ url_for('static', filename='dropzone.js') }}"></script>
{% endblock %}
